@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

img {
    width: 100%;
    height: auto;
}

.section-1 {
    background-color: #1f2937;
}
/* HEADER */
.header {
    display: flex;
    justify-content: space-around;
    padding: 16px 0;
}

/* RIGHT LINKS AND LOGO */
.right-links {
    display: flex;
    justify-content: center;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

/* LEFT LINKS AND LINKS */
.left-links {
   display: flex; 
   gap: 24px;
}

.left-links > .link {
    font-size: 18px;
    color: #e5e7eb;
}

/* MAIN BODY */

button {
    border: none;
    border-radius: 8px;
    color: #e5e7eb;
    font-size: 16px;
    font-weight: 600;
    padding: 12px 64px;
    background-color: #3882f6;
}
.hero-body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-container {
    padding: 64px 0;
    max-width: 65%;
    display: flex;
    gap: 64px;
    /* flex-wrap: wrap; */
}

.hero-container > * {
    max-width: 50%;
    flex-basis: 100%;
}

.hero-left {
    max-width: 467.200px;
}

.hero-left > img {
    border-radius: 8px;
}

.hero-right > .hero-main {
    font-size: 64px;
    color: #f9faf8;
}

.hero-right > p {
    color: #e5e7eb;
}

.hero-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
}